
@import url(https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
a{ font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
    color: black;
    text-decoration: none;
    /* margin: 30px; */
    /* text-shadow: 0 0 6px red;
 */
 }
table tr{
    display: flex;
    justify-content: space-between;
}