
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:wght@400;700&family=Roboto:wght@700&display=swap');
h1{ font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 70px;
    color: black;
    /* text-shadow: 0 0 6px red;
 */
}
body{
    background-image: url(logo\ final.jpg);
    background-repeat: 5;
    
    
}